.signUp-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: fit-content;
  margin: auto;
  background-color: white;

  -webkit-box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  padding: 20px;
  opacity: 1;
}

.form-element {
  margin: 10px;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signUp-container {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
